body {
font-family: Roboto, sans-serif;
color: #434455;
background-color: #FFF;
font-style: normal;
font-weight: 400;
}

h1 {
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1;
}

h2 {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

h3 {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
}

p {
font-size: 16px;
line-height: 1.5;
}

.logo {
color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.1;
text-transform: uppercase;
}

.accent {
color: #2E2F42;
}

.site-nav {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
}

.address {
font-size: 16px;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
}

.link {
font-size: 16px;
line-height: 1.5;
}

.link:hover {
color: #404BBF;
}

.link:focus {
color: #404BBF;
}

.hero-section {
background: #2E2F42 ;
}

.button {
cursor: pointer;
background: #4D5AE5;
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
}
